# Apply to all files without committing:
#   pre-commit run --all-files
# Apply to changed files:
#   pre-commit run
# Update this file:
#   pre-commit autoupdate
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-ast
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-yaml
          - id: debug-statements
          - id: detect-aws-credentials
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: mixed-line-ending
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.29.1
      hooks:
          - id: pyupgrade
            args: [--py36-plus]
    - repo: https://github.com/pre-commit/mirrors-yapf
      rev: "v0.31.0"
      hooks:
          - id: yapf
    - repo: https://github.com/pycqa/flake8
      rev: "4.0.1"
      hooks:
          - id: flake8
