pytest
pytest-timeout
tifffile
wget
aim
wandb
comet_ml
mlflow

# For testing optional Ray Tune Search Algorithms
# search_alg: bohb
hpbandster
ConfigSpace>=1.0

# search_alg: ax
ax-platform

sqlalchemy

# search_alg: bayesopt
bayesian-optimization

# search_alg: cfo and blendsearch
flaml[blendsearch]

# search_alg: hebo
HEBO

# search_alg: nevergrad
nevergrad

# search_alg: optuna
optuna

# search_alg: skopt
scikit-optimize

# search_alg: zoopt
zoopt

# search_alg: hyperopt (TPE)
hyperopt

s3fs>=2022.8.2
