sentence-transformers
faiss-cpu

accelerate
loralib

# Temporarily pin PEFT to PEFT master for Mistral-7b support:
# https://github.com/ludwig-ai/ludwig/issues/3724
peft @ git+https://github.com/huggingface/peft.git@07f2b82
