Cython>=0.25
h5py>=2.6,<2.11.0
numpy>=1.15,<1.19.0
pandas>=0.19
scipy>=0.18
tabulate>=0.7
scikit-learn
tqdm
tensorflow>=2.2
tfa-nightly==0.12.0.dev20200820045606
PyYAML>=3.12
absl-py
requests
jsonschema


# new data format support
xlwt            # excel
xlrd            # excel
openpyxl        # excel
pyarrow         # parquet
lxml            # html
