onnxconverter-common<1.12
# Install hummingbird-ml directly once https://github.com/microsoft/hummingbird/pull/674 lands
hummingbird-ml @ git+https://github.com/jppgks/hummingbird.git@disable-post-transform
lightgbm
lightgbm-ray
