# requirements for dask
dask[dataframe]>2021.3.1,<2022.1.1
pyarrow==6.0.1 # https://github.com/ray-project/ray/issues/22310

# ray[default,tune]>=1.9.2,!=1.10  # TODO: remove
ray[default,tune]>=1.11.0


# required for Ray Tune Search Algorithm support for AutoML
#search_alg: hyperopt
hyperopt
