pytest
pytest-timeout
wget
six>=1.13.0
aim
wandb<0.12.11
comet_ml
mlflow

# For testing optional Ray Tune Search Algorithms
# search_alg: bohb
hpbandster
ConfigSpace

# search_alg: ax
ax-platform
sqlalchemy

# search_alg: bayesopt
bayesian-optimization

# search_alg: cfo and blendsearch
flaml[blendsearch]

# search_alg: dragonfly
dragonfly-opt

# search_alg: hebo
HEBO

# search_alg: nevergrad
nevergrad

# search_alg: optuna
optuna

# search_alg: skopt
scikit-optimize

# search_alg: zoopt
zoopt

s3fs>=2022.8.2
