pytest
pytest-timeout
wget
six>=1.13.0

aim==3.12.2
aim-ui==3.12.2
boto3==1.24.56
botocore==1.27.56
comet_ml==3.31.9
fonttools==4.36.0
huggingface-hub==0.8.1
urllib3==1.26.11
websocket-client==1.3.3
xgboost==1.6.1

wandb<0.12.11
mlflow
whylogs<1.0

# For testing optional Ray Tune Search Algorithms
# search_alg: bohb
hpbandster
ConfigSpace

# search_alg: ax
ax-platform
sqlalchemy

# search_alg: bayesopt
bayesian-optimization

# search_alg: cfo and blendsearch
flaml[blendsearch]==1.0.10

# search_alg: dragonfly
dragonfly-opt

# search_alg: hebo
HEBO

# search_alg: nevergrad
nevergrad

# search_alg: optuna
optuna

# search_alg: skopt
scikit-optimize

# search_alg: zoopt
zoopt
