Cython>=0.25
h5py>=2.6,!=3.0.0
numpy>=1.15
pandas>=0.25,!=1.1.5
scipy>=0.18
tabulate>=0.7
scikit-learn
tqdm
torch==1.9.1 ; platform_system == "Windows"  # https://github.com/pytorch/pytorch/issues/65473
torch>=1.10.0 ; platform_system != "Windows"
PyYAML>=3.12
absl-py
kaggle
requests
tables
fsspec
dataclasses-json
jsonschema
marshmallow
marshmallow-jsonschema
marshmallow-dataclass
tensorboard
torchmetrics>=0.6.0,<0.7
torchinfo
filelock

# new data format support
xlwt            # excel
xlrd            # excel
openpyxl        # excel
pyarrow         # parquet
lxml            # html
