/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'micon_nb';
  font-style: normal;
  font-weight: 400;
  src: url('#{$mi-font-path}/micon_nb.eot');
  src: url('#{$mi-font-path}/micon_nb.eot?#iefix') format('embedded-opentype'),
  url('#{$mi-font-path}/micon_nb.woff2') format('woff2'),
  url('#{$mi-font-path}/micon_nb.woff') format('woff'),
  url('#{$mi-font-path}/micon_nb.ttf') format('truetype'),
  url('#{$mi-font-path}/micon_nb.svg#micon_nb') format('svg');
}

.mi {
  font-family: 'micon_nb';
  font-weight: 400;
}
